*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
.hero{
  background: url(/images/bg.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.hero header nav{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.hero header nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}
.hero header nav .links a{
  color: #fff;
  font-size: 18px;
  margin: 0 20px;
  transition: 0.3s ease;
}
.hero header nav .links a:hover{
  color: aqua;
}
.hero header nav .links .btn-menu{
  color: #fff;
  font-size: 30px;margin-left: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}
.hero header nav .links .btn-menu:hover{
  color: aqua;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: auto;
  gap: 10%;
}
.container .div-text{
  width: 50%;
}
.container .div-img{
  width: 30%;
}
.container .div-img img {
  width: 100%;
}
.container .div-text h1{
  color: #fff;
  font-size: 60px;
}
.container .div-text p{
  color: #999;
  line-height: 1.5;
  margin: 20px 0 40px 0;
}
.container .div-text .btn{
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid #fff ;
  padding: 14px 35px;
  border-radius: 30px;
  transition: 0.3s ease  ;
}
.container .div-text .btn:hover{
  background: #fff;
  color: #94009c;
}
